body {
	font-family: "Latin Modern Roman", "Times New Roman", serif;
	background-color: black;
	color: white;
	margin: 0 auto;
	padding: 0 3% 5em;
	max-width: 40em;
	font-size: 24px;
	line-height: 1.1em;
}

header {
	text-align: center;
}
#title {
	color: white;
	text-decoration: none;
}
#title:visited { color: white; }

.thumb { 
	width: 25%;
	margin: 0;
}
.thumb:hover { opacity: 0.8; }
.thumblink {
	margin: 0;
	width: 25%;
}
#imageGrid {
font-size: 0
}

@media (max-width: 500px) {
	body {
		font-size: 14px;
	}
	.thumb {
		width: 50%;
	}
}
