body {
	background-color: gray;
}

h1 {
	font-size: 5em;
	text-align: center;
	color: white;
	margin: 0.1em 0;
}

.icon {
	width: 8em;
}

#pdf {
	padding: 0;
}

#pdf > li{
	list-style-type: none;
	width: 8em;
}

#pdf > li > a {
	display: block;
	background-color: orange;
	width: 8em;
	text-decoration: none;
	text-align: center;
	margin: 1em;
	padding: 0.5em;
}

#pdf > li > a > p {
	margin: 0;
}
