body {
	font-family: "Latin Modern Roman", "Times New Roman", serif;
	background-color: black;
	color: white;
	margin: 0 auto;
	padding: 0 3% 5em;
	max-width: 40em;
	font-size: 24px;
	line-height: 1.1em;
}

header {
	text-align: center;
}

a {
	text-decoration: underline;
	color: #0F0;
}
a:visited {
	color: #0F0;
}

header > a {
	text-decoration: none;
	color: white;
}
header > a:hover { color: #0F0; }

ul {
	list-style-type: none;
}

ul li::before {
	content: "+";
	color: #0F0;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.thumb { 
	width: 25%;
	margin: 0;
}
.thumb:hover {
	opacity: 0.8;
}
.thumblink {
	margin: 0;
	width: 25%;
}

@media (max-width: 500px) {
	body {
		font-size: 14px;
	}
	.thumb {
		width: 50%;
	}
}
